<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sys.online_shopping">
    package="com.spaceo.tablayoutdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.page5activity"
            android:label="@string/title_activity_main6"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activity.MainActivity2" />
        <activity android:name=".Activity.page3activity" />
        <activity android:name=".Activity.page4activity" />
        <activity android:name=".Activity.ProfileActivity"/>
        <activity android:name=".Activity.walletactivity"></activity>
        <activity android:name=".fragment.Page7activityfragment"></activity>
        <activity android:name=".Activity.Cartactivity"></activity>
        <activity android:name=".Activity.Checkoutactivity"></activity>
        <activity android:name=".Activity.Checkout2activity"></activity>
        <activity android:name=".Activity.Paypalactivity"></activity>
        <activity android:name=".Activity.Creditcardactivity"></activity>
        <activity android:name=".Activity.Login_with_paypal">
        </activity>
        <activity android:name=".Activity.OrderConfirmation"></activity>
    </application>

</manifest>